.ui-icon-kreda-abhaken:after {
	background-image: url(icons/abhaken.png);
}
.ui-icon-kreda-abschnitte:after {
	background-image: url(icons/abschnitte.png);
}
.ui-icon-kreda-abschnitt_one_way:after {
	background-image: url(icons/abschnitt_one_way.png);
}
.ui-icon-kreda-abschnitt:after {
	background-image: url(icons/abschnitt.png);
}
.ui-icon-kreda-ab_woche_tauschen:after {
	background-image: url(icons/ab_woche_tauschen.png);
}
.ui-icon-kreda-add:after {
	background-image: url(icons/add.png);
}
.ui-icon-kreda-aktualisieren:after {
	background-image: url(icons/aktualisieren.png);
}
.ui-icon-kreda-anschrift:after {
	background-image: url(icons/anschrift.png);
}
.ui-icon-kreda-arbeitsblatt:after {
	background-image: url(icons/arbeitsblatt.png);
}
.ui-icon-kreda-arrow_copy:after {
	background-image: url(icons/arrow_copy.png);
}
.ui-icon-kreda-arrow_join:after {
	background-image: url(icons/arrow_join.png);
}
.ui-icon-kreda-aufgabe_in_spalten:after {
	background-image: url(icons/aufgabe_in_spalten.png);
}
.ui-icon-kreda-aufgaben:after {
	background-image: url(icons/aufgaben.png);
}
.ui-icon-kreda-ausfall:after {
	background-image: url(icons/ausfall.png);
}
.ui-icon-kreda-backup:after {
	background-image: url(icons/backup.png);
}
.ui-icon-kreda-buch:after {
	background-image: url(icons/buch.png);
}
.ui-icon-kreda-clip_closed:after {
	background-image: url(icons/clip_closed.png);
}
.ui-icon-kreda-clip_open:after {
	background-image: url(icons/clip_open.png);
}
.ui-icon-kreda-delete:after {
	background-image: url(icons/delete.png);
}
.ui-icon-kreda-doc_copy:after {
	background-image: url(icons/doc_copy.png);
}
.ui-icon-kreda-doc_link:after {
	background-image: url(icons/doc_link.png);
}
.ui-icon-kreda-doc_move:after {
	background-image: url(icons/doc_move.png);
}
.ui-icon-kreda-down:after {
	background-image: url(icons/down.png);
}
.ui-icon-kreda-drucken:after {
	background-image: url(icons/drucken.png);
}
.ui-icon-kreda-durchfuehrung:after {
	background-image: url(icons/durchfuehrung.png);
}
.ui-icon-kreda-edit:after {
	background-image: url(icons/edit.png);
}
.ui-icon-kreda-einstellungen:after {
	background-image: url(icons/einstellungen.png);
}
.ui-icon-kreda-einzelstunde:after {
	background-image: url(icons/einzelstunde.png);
}
.ui-icon-kreda-elternabend:after {
	background-image: url(icons/elternabend.png);
}
.ui-icon-kreda-elternkontakt:after {
	background-image: url(icons/elternkontakt.png);
}
.ui-icon-kreda-email:after {
	background-image: url(icons/email.png);
}
.ui-icon-kreda-entfernen:after {
	background-image: url(icons/entfernen.png);
}
.ui-icon-kreda-fach_klasse:after {
	background-image: url(icons/fach_klasse.png);
}
.ui-icon-kreda-farben:after {
	background-image: url(icons/farben.png);
}
.ui-icon-kreda-fehlzeit:after {
	background-image: url(icons/fehlzeit.png);
}
.ui-icon-kreda-female:after {
	background-image: url(icons/female.png);
}
.ui-icon-kreda-fenster_schliessen:after {
	background-image: url(icons/fenster_schliessen.png);
}
.ui-icon-kreda-filter:after {
	background-image: url(icons/filter.png);
}
.ui-icon-kreda-fundus:after {
	background-image: url(icons/fundus.png);
}
.ui-icon-kreda-geburtstag:after {
	background-image: url(icons/geburtstag.png);
}
.ui-icon-kreda-grafik:after {
	background-image: url(icons/grafik.png);
}
.ui-icon-kreda-groesse_aendern:after {
	background-image: url(icons/groesse_aendern.png);
}
.ui-icon-kreda-gruppe:after {
	background-image: url(icons/gruppe.png);
}
.ui-icon-kreda-haekchen:after {
	background-image: url(icons/haekchen.png);
}
.ui-icon-kreda-hausaufgaben:after {
	background-image: url(icons/hausaufgaben.png);
}
.ui-icon-kreda-headline:after {
	background-image: url(icons/headline.png);
}
.ui-icon-kreda-hefter:after {
	background-image: url(icons/hefter.png);
}
.ui-icon-kreda-hilfe:after {
	background-image: url(icons/hilfe.png);
}
.ui-icon-kreda-hinweis:after {
	background-image: url(icons/hinweis.png);
}
.ui-icon-kreda-hoch:after {
	background-image: url(icons/hoch.png);
}
.ui-icon-kreda-index:after {
	background-image: url(icons/index);
}
.ui-icon-kreda-information:after {
	background-image: url(icons/information.png);
}
.ui-icon-kreda-kalender:after {
	background-image: url(icons/kalender.png);
}
.ui-icon-kreda-kalender_transparent:after {
	background-image: url(icons/kalender_transparent.png);
}
.ui-icon-kreda-karte:after {
	background-image: url(icons/karte.png);
}
.ui-icon-kreda-klassenbuch:after {
	background-image: url(icons/klassenbuch.png);
}
.ui-icon-kreda-klasse:after {
	background-image: url(icons/klasse.png);
}
.ui-icon-kreda-kollegen:after {
	background-image: url(icons/kollegen.png);
}
.ui-icon-kreda-kommentar:after {
	background-image: url(icons/kommentar.png);
}
.ui-icon-kreda-konferenz:after {
	background-image: url(icons/konferenz.png);
}
.ui-icon-kreda-male:after {
	background-image: url(icons/male.png);
}
.ui-icon-kreda-material:after {
	background-image: url(icons/material.png);
}
.ui-icon-kreda-merkteil:after {
	background-image: url(icons/merkteil.png);
}
.ui-icon-kreda-mitarbeit:after {
	background-image: url(icons/mitarbeit.png);
}
.ui-icon-kreda-nachbereiten:after {
	background-image: url(icons/nachbereiten.png);
}
.ui-icon-kreda-nachbereitet:after {
	background-image: url(icons/nachbereitet.png);
}
.ui-icon-kreda-neu_block:after {
	background-image: url(icons/neu_block.png);
}
.ui-icon-kreda-neu_plan:after {
	background-image: url(icons/neu_plan.png);
}
.ui-icon-kreda-neu:after {
	background-image: url(icons/neu.png);
}
.ui-icon-kreda-note:after {
	background-image: url(icons/note.png);
}
.ui-icon-kreda-ohne_pause:after {
	background-image: url(icons/ohne_pause.png);
}
.ui-icon-kreda-ok:after {
	background-image: url(icons/ok.png);
}
.ui-icon-kreda-page_save:after {
	background-image: url(icons/page_save.png);
}
.ui-icon-kreda-pfeil_links:after {
	background-image: url(icons/pfeil_links.png);
}
.ui-icon-kreda-pfeil_rechts:after {
	background-image: url(icons/pfeil_rechts.png);
}
.ui-icon-kreda-pinwand:after {
	background-image: url(icons/pinwand.png);
}
.ui-icon-kreda-plan:after {
	background-image: url(icons/plan.png);
}
.ui-icon-kreda-plan_weg:after {
	background-image: url(icons/plan_weg.png);
}
.ui-icon-kreda-platz_lassen:after {
	background-image: url(icons/platz_lassen.png);
}
.ui-icon-kreda-remove:after {
	background-image: url(icons/remove.png);
}
.ui-icon-kreda-runter:after {
	background-image: url(icons/runter.png);
}
.ui-icon-kreda-schuelerliste:after {
	background-image: url(icons/schuelerliste.png);
}
.ui-icon-kreda-schueler:after {
	background-image: url(icons/schueler.png);
}
.ui-icon-kreda-seitenumbruch:after {
	background-image: url(icons/seitenumbruch.png);
}
.ui-icon-kreda-sitzplan:after {
	background-image: url(icons/sitzplan.png);
}
.ui-icon-kreda-smiley_1:after {
	background-image: url(icons/smiley_1.png);
}
.ui-icon-kreda-smiley_2:after {
	background-image: url(icons/smiley_2.png);
}
.ui-icon-kreda-smiley_3:after {
	background-image: url(icons/smiley_3.png);
}
.ui-icon-kreda-smiley_4:after {
	background-image: url(icons/smiley_4.png);
}
.ui-icon-kreda-smiley_5:after {
	background-image: url(icons/smiley_5.png);
}
.ui-icon-kreda-sonstiges_material:after {
	background-image: url(icons/sonstiges_material.png);
}
.ui-icon-kreda-startseite:after {
	background-image: url(icons/startseite.png);
}
.ui-icon-kreda-statistik_auswertung:after {
	background-image: url(icons/statistik_auswertung.png);
}
.ui-icon-kreda-statistik:after {
	background-image: url(icons/statistik.png);
}
.ui-icon-kreda-struktur:after {
	background-image: url(icons/struktur.png);
}
.ui-icon-kreda-stundenplan:after {
	background-image: url(icons/stundenplan.png);
}
.ui-icon-kreda-suchen:after {
	background-image: url(icons/suchen.png);
}
.ui-icon-kreda-telefon:after {
	background-image: url(icons/telefon.png);
}
.ui-icon-kreda-test_auswertung:after {
	background-image: url(icons/test_auswertung.png);
}
.ui-icon-kreda-test:after {
	background-image: url(icons/test.png);
}
.ui-icon-kreda-thema:after {
	background-image: url(icons/thema.png);
}
.ui-icon-kreda-token:after {
	background-image: url(icons/token.png);
}
.ui-icon-kreda-uebungsteil:after {
	background-image: url(icons/uebungsteil.png);
}
.ui-icon-kreda-uhr:after {
	background-image: url(icons/uhr.png);
}
.ui-icon-kreda-unterricht:after {
	background-image: url(icons/unterricht.png);
}
.ui-icon-kreda-up:after {
	background-image: url(icons/up.png);
}
.ui-icon-kreda-verschieben:after {
	background-image: url(icons/verschieben.png);
}
.ui-icon-kreda-verwarnung:after {
	background-image: url(icons/verwarnung.png);
}
.ui-icon-kreda-vorbereiten:after {
	background-image: url(icons/vorbereiten.png);
}
.ui-icon-kreda-vorbereitet_nicht:after {
	background-image: url(icons/vorbereitet_nicht.png);
}
.ui-icon-kreda-vorbereitet:after {
	background-image: url(icons/vorbereitet.png);
}
.ui-icon-kreda-zeit:after {
	background-image: url(icons/zeit.png);
}
.ui-icon-kreda-zensuren:after {
	background-image: url(icons/zensuren.png);
}
.ui-icon-kreda-zensur:after {
	background-image: url(icons/zensur.png);
}
.ui-icon-kreda-ziele:after {
	background-image: url(icons/ziele.png);
}